<footer class="bg-[var(--primary-color)] text-white py-3">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap justify-between">
      <div class="flex items-center justify-center w-full md:w-1/2">
        <h3 class="w-[fit-content] text-xl font-bold mb-2">Siguenos en nuestras redes sociales</h3>
        <div class="flex space-x-4 pl-4">
          <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-white hover:text-gray-300"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="flex justify-center w-full md:w-1/2 mb-6 md:mb-0">
        <h3 class="text-xl font-bold mb-2">About Us</h3>
        <p class="text-sm"></p>
      </div>

    </div>
    <div class="border-t border-gray-600 mt-2 text-sm text-center">
      <p class="py-2">&copy; {{ currentYear }} Physiotherapy Clinic. All rights reserved.</p>
    </div>
  </div>
</footer>
