<nav class="bg-[var(--primary-color)]">
    <div class="mx-0 px-0">
      <div class="flex justify-between items-center">
        <a href="#" class="w-[100px] px-1 text-xl font-bold py-4">LOGO</a>


        <!-- Menu (dropdown incluido) -->
        <ul class="flex lg:flex-row">

          <!-- Dropdown con hover -->
          <li class="text-center group relative">
            <a href="#" class="block py-2 lg:py-4 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Nosotros</a>
            <!-- Lista del Dropdown, visible al hacer hover -->
            <ul class="absolute hidden bg-[var(--primary-color)] shadow-lg group-hover:block z-50">
              <li *ngFor="let item of nosotrosItems">
                <a href="#"
                   class="block py-2 lg:py-2 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl"
                   (mouseenter)="showModal(item)"
                   (mouseleave)="hideModal()">
                  {{ item.title }}
                </a>
              </li>
            </ul>
          </li>

          <!-- Otros ítems del menú -->
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Servicios</a></li>
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Agendar cita</a></li>
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Contactanos</a></li>
          <li class="text-center">
            <a (click)="toggleSession()" class="block py-2 lg:py-4 text-white font-semibold uppercase tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[180px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] hover:bg-gray-100 cursor-pointer text-sm sm:text-base md:text-lg lg:text-xl">
              <i class="fa-solid fa-user px-2"></i>
              {{ isLoggedIn ? 'Cerrar sesión' : 'Iniciar sesión' }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Modal -->
<div *ngIf="activeModal"
     class="fixed w-full h-full flex items-center justify-center z-10 object-cover bg-white bg-opacity-10 backdrop-filter backdrop-blur-sm transition-opacity duration-300 ease-in-out"
     (mouseenter)="showModal(activeModal)"
     (mouseleave)="hideModal()">
  <div class="bg-[var(--primary-color)] p-10 shadow-xl w-[800px] h-[400px]">
    <h2 class="text-4xl font-bold mb-6 font-merienda">{{ activeModal.title }}</h2>
    <p class="text-2xl font-light tracking-wide text-justify">{{ activeModal.content }}</p>
  </div>
</div>
