<nav class="bg-[var(--primary-color)]">
    <div class="mx-0 px-0">
      <div class="flex justify-between items-center">
        <a href="#" class="w-[100px] px-1 text-xl font-bold py-4">LOGO</a>


        <!-- Menu (dropdown incluido) -->
        <ul class="flex lg:flex-row">

          <!-- Dropdown con hover -->
          <li class="text-center group relative">
            <a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Nosotros</a>
            <!-- Lista del Dropdown, visible al hacer hover -->
            <ul class="absolute hidden bg-[var(--primary-color)] shadow-lg group-hover:block z-10">
              <li>
                <a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Account settings</a>
              </li>
              <li>
                <a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Support</a>
              </li>
              <li>
                <a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">License</a>
              </li>
            </ul>
          </li>

          <!-- Otros ítems del menú -->
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Services</a></li>
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">About Us</a></li>
          <li class="text-center"><a href="#" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[135px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] text-sm sm:text-base md:text-lg lg:text-xl">Contact</a></li>
          <li class="text-center">
            <a (click)="toggleSession()" class="block py-2 lg:py-4 text-white font-semibold tracking-wider hover:text-gray-500 w-[150px] sm:w-[100px] md:w-[180px] lg:w-[200px] xl:w-[230px] 2xl:w-[300px] hover:bg-gray-100 cursor-pointer text-sm sm:text-base md:text-lg lg:text-xl">
              <i class="fa-solid fa-user px-2"></i>
              {{ isLoggedIn ? 'Cerrar sesión' : 'Iniciar sesión' }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
