/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #66ab85;
  --secondary-color: #c1e6ba;
  --background-color: #e2e7e2;
  --accent-color: #023336;
  --accent-hover-color: #5a7779;
  --modal-color: #eaf8e7;
  --agendar-color: #9db3ad;
  --agendar-hover-color: #839b94;
  --calendar-color: #c5dad5;
  --calendar-hover-color: #97c4b7;
  --form-color: #a8babd;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
  }
